# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/
out/

# Rider, Resharper
.idea/
*.dotCover

# ASP.NET
appsettings.Secrets.json
appsettings.Local.json

# NuGet
*.nupkg
packages/
project.lock.json

# Publish output
publish/

# Mac/Windows system files
.DS_Store
Thumbs.db
