# WEB CONFIG
APP_NAME="Project"
APP_URL="http://localhost/project/public/"
DOCROOT="D:\WAMP\www\project\public\"

# DB CONFIG
DB_HOST="localhost"
DB_USERNAME="root"
DB_PASSWORD="*******"
DB_NAME="project"

# OBJECT STORAGE CONFIG
USE_OBJECT_STORAGE="Y"
AWS_S3_ENDPOINT="https://project.s3.ap-south-1.amazonaws.com"
AWS_S3_REGION="ap-south-1"
AWS_S3_KEY="*************"
AWS_S3_SECRET="*******************"
AWS_S3_BUCKET="project"
AWS_S3_BUCKET_PUT="private"
AWS_S3_BUCKET_GET="public"
AWS_S3_DIR="project_stage/"
