@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Add Student";
    ViewData["MetaDesc"] = "My Meta Desc";
    var info = ViewData["Message"];
    @model CRUD.Models.Student;
}

<h1>Add</h1>
<form asp-action="Create" asp-controller="Home">
    <label>Enter Your Name <span style="color:red;font-weight:900;">*</span></label>
    <input type="text" asp-for="@Model.Name"/>
    <input type="submit" value="submit"/>   
</form>
<br />
<br />
@if (TempData["Message"] != null)
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

